
.nav-link{
    color: black;
    width: 150px;
    text-align: center;
}
.nav-link:active {
    display: inline-block;
    transition: 3s ease;
}

.nav-link .active{
    color: #30fe63;
    border-bottom: 5px solid #304ffe;
    width: 100%;
    border-radius: 1px;
    transition: 3s ease;
}

.nav-link:hover {
    border-bottom: 3px solid #304ffe;
}

.badge {
    margin-right: 12rem;
}

.btn-harga {
    margin-left: 3rem;
}

.card-img-top {
    height: 75%;
}